.gradient-custom {
    /* fallback for old browsers */
    background: #f2f2f2;

    /* Chrome 10-25, Safari 5.1-6 */

    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    background: linear-gradient(to right, #2a2a2a, #f8f9fa);
    margin-top: 80px;
    margin-bottom: 20px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: #053ca3;
    color: white;
    padding: 20px;
    height: 100vh;
}

.sidebar h2 {
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

/* Main Content */
.main-content {
    flex: 1;
    padding: 20px;
}

h1 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

form {
    display: flex;
    flex-direction: column; /* Sắp xếp các input theo cột */
}

form div {
    margin-bottom: 15px; /* Khoảng cách giữa các phần tử form */
}

label {
    font-weight: bold; /* Làm đậm chữ label */
}

input[type="text"],
input[type="number"],
textarea,
select {
    padding: 10px;
    border: 1px solid #ccc; /* Viền cho các input */
    border-radius: 4px; /* Bo tròn góc cho input */
    width: 100%; /* Chiếm toàn bộ chiều rộng */
    box-sizing: border-box; /* Bao gồm cả padding và border trong chiều rộng */
}

input[type="file"] {
    border: none; /* Không viền cho file input */
}

button[type="submit"],
button[type="button"] {
    background-color: #3498db; /* Màu nền cho button */
    color: #ffffff; /* Màu chữ cho button */
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer; /* Hiển thị con trỏ tay khi hover */
    transition: background-color 0.3s;
    width: max-content;
}

button[type="submit"]:hover,
button[type="button"]:hover {
    background-color: #2980b9; /* Màu nền khi hover */
}

#color-container {
    margin-top: 10px; /* Khoảng cách trên cho container màu */
}

.description-cell {
    display: -webkit-box; /* Thiết lập chế độ hiển thị thành box */
    -webkit-box-orient: vertical; /* Định hướng chiều dọc cho box */
    -webkit-line-clamp: 3; /* Giới hạn số dòng hiển thị */
    overflow: hidden; /* Ẩn phần văn bản vượt quá */
    text-overflow: ellipsis; /* Thêm dấu ... nếu có văn bản bị cắt */
    max-height: 4.5em; /* Độ cao tối đa cho 3 dòng (3 * chiều cao dòng) */
    line-height: 1.5em; /* Chiều cao dòng */
}
